* {
  /* border: 1px solid lightgray; */
}

@font-face {
  font-family: liberationsans;
  font-weight: bold;
  src: url(fonts/LiberationSans-Bold.ttf);
}

@font-face {
  font-family: liberationsans;
  font-weight: normal;
  src: url(fonts/LiberationSans-Regular.ttf);
}

@font-face {
  font-family: 'Sebaldus-Gotisch';
  src: url('fonts/Sebaldus-Gotisch.ttf') format('truetype');
  font-weight: normal;
}

.colstwo {
  column-count: 2;
}

html {
  color: black;
  counter-reset: h2-counter;
  font-family: 'Sebaldus-Gotisch';
  font-size: 10pt;
}
body {
  font-family: 'liberationsans';
  margin: 0;
}

p {
  margin-top: 0px;
  line-height: 1.3;
  text-align: justify;
}
img {
  display: block;
  margin: 2em auto;
}

h1 {
  display: none;
}

h3 {
  margin-bottom: 0px;
}

section {
  break-after: always;
}

ol {
  margin-top: 0;
  padding-left: 25px;
}

li {
  margin-top: .25em;
  margin-bottom: .25em;
}

ol > li::marker {
  font-weight: bold;
}

.breakbefore {
  break-before: always;
}

.breakafter {
  break-after: always;
}

.clean {
  page: clean;
}

.background img {
  top: -.375in;
  height: 8.75in;
  left: -.375in;
  margin: 0;
  max-width: none;
  object-fit: cover;
  /* page: full; */
  position: absolute;
  width: 5.75in;
  z-index: -1;
}
pre, code, kbd, source {
  font-size: .8em;
  line-height: 1.2em;
}
pre, kbd {
  border: 1px dotted black;
  padding: .25em;
  overflow: hidden;
  color: white;
  background: black;
  border-radius: 4px;
}
#contents p {
  font-size: 2em;
}
#contents ul {
  display: block;
  margin: 1em 0;
  padding: 0;
}
#contents li {
  display: block;
}
#contents a {
  color: inherit;
  text-decoration: none;
}
#contents a::before {
  /* content: target-counter(attr(href), h2-counter) '. ' target-text(attr(href)); */
}
#contents a::after {
  content: target-counter(attr(href), page);
  float: right;
}
table {
  border-collapse: collapse;
  width: 100%
}

thead {
  border-bottom: .5px solid black;
}

tr td {
  border-bottom: .5px solid lightgray;
}

@media screen {
  body {
    background: lightgray;
  }
  section {
    padding-left: 1rem;
    padding-right: 1rem;
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
    box-shadow: 4px 4px darkgray;
    background: white;
    padding: .25in .25in .5in .25in;
    z-index: -1;
    font-size: 1.1rem;
    width: 5in;
    padding: .25in .25in .5in .25in;
    background-color: cornsilk;
  }
  .blank {
    display: none;
  }
  .background {
    box-sizing: border-box;
    position: relative;
    box-sizing: border-box;
    height: 8.5in;
    width: 5.5in;
    position: relative;
  }
  .background img{
    top: -.125in;
    left: -.125in;
    clip: rect(.125in, 5.625in, 8.625in, .125in);
  }
}
@media only screen and (max-width: 5.5in) {
  section {
    color: blue;
    width: auto;
  }
  .background {
    height: 160vw;
  }
  .background img{
    height: 165vw;
    width: 104vw;
  }
}
